@import '../variables'

.chatBody
    width: 100%
    height: calc(100% - 50px)
    overflow: hidden
    color: #526681
    .message-item
        margin: 15px 0
        font-size: 12px
        .avatar
            @include circle(30px, #F9D185)
            color: white
            margin-right: 10px
        p
            margin-bottom: 5px
        .name
        .message
            font-size: 15px
            padding: 15px
            max-width: 700px
            background-color: #EBEDFA
            border-radius: 20px
            @include text-sm
        .time
            margin: 5px 0