@import '../variables'

.roomSideBar
    flex: 1
    @include respond-lg
        flex: 2
    @include respond-md
        max-width: 90px
    .selfInfo--block
        color: white
        margin-bottom: 30px
        p
            margin: 0
            @include respond-md
                display: none
        .selfInfo--avatar
            width: 40px
            height: 40px
            background-color: $blue
            border-radius: 10px
            font-size: 20px
            margin-right: 15px

    .rooms--block
        overflow: hidden
        height: calc(100% - 170px)
        color: $whiteText
        .title
            margin-bottom: 30px
            font-size: 20px
            font-weight: 500
            
    .actions--block
        button
            @include respond-md
                font-size: 12px
